*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgb(180, 180, 180);
    padding: 10px;
    text-align: center;
    background-color: beige;
}
.d-item{
    height: 700px;
    text-align: center;
  }
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
h3{
    shape-rendering: auto;
    color: rgb(5, 23, 73);
    text-align: center;
  }
h4{
    color: blanchedalmond;
  }
p{
    color: rgb(36, 20, 5);
}    
